footer {
    background-color:$colour-footer ;
    display: flex;
    flex-direction: column;
}
footer img {
    width: 120px;
    margin: 20px 0px 0px 40px;
    filter: invert(100%);
    }

li {
    list-style-type: none;
    font-size: 0.5em;
    color: $colour-white;
    font-weight: 300;
}

footer i {
    padding-right: 10px;
    font-size: 0.8em;
}