/*tablet*/
@media all and (min-width:701px) {

    /*index*/
.loader__spinner {
    left: 40%;
}
.top_container_headline p {
    font-size: 0.55em;
}
button {
    min-width: 40%;
}
h2 {
    margin-left: 40px;
}
.steps {
    padding-top: 20px;
}
.step_big_container {
    display: flex;
}
.step_container {
    width: 100%;
    position: relative;
    margin: 10px;
    justify-content: center;
}
.step_round {
    left: -12px;
}
.step_box {
    justify-content: start;
}
.step_box i {
    left: 15px;
    font-size: 0.6em;
}
.restaurant_big_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.restaurant_big_container a {
    width: 45%;
}
.footer_links {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

    /*restaurant_menu*/
.restaurant_menu_id {
    max-height: 300px;
}
.restaurant_menu_id img {
    height: 250px;
}

.menu_container {
    width: 75%;
}
.menu_container_bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu_bloc {
    width: 100%;
}
.menu_bloc__price {
    width: 0;
}
}

/*DESKTOP*/
@media all and (min-width:1023px) {
    
    .loader__spinner {
        left: 43%;
    }
    button {
        min-width: 30%;
    }
    .step_round {
        left: 4px;
    }
    .step_box {
        justify-content: center;
        width: 65%;
    }
    .step_box i {
        left: 37px;
        font-size: 0.8em;
    }
    .restaurant_big_container a {
        max-width: 55%;
    }
    .restaurant_big_container {
        justify-content: space-around;
    }
    .restaurant_big_container figure {
        width: 475px;
    }
    .restaurant_menu {
        flex-direction: row;
        align-items: flex-start;
    }
    .restaurant_menu_id {
        max-height: 400px;
    }
    .restaurant_menu_id img {
        height: 350px;
    }
}