button {
    background: linear-gradient(to bottom right, $colour-secondary, $colour-primary);
    border: none;
    color: $colour-white;
    border-radius: 30px;
    padding: 20px;
    font-size: 0.5em;
    box-shadow: 5px 5px 10px $colour-shadow;
    margin: 20px;
    width: 60%;
}
