/*LOADER SPINNER*/
.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $colour-white;
    z-index: 100;
    animation: loader 3s forwards ;
        &__spinner {
        position: relative;
        top: 30%;
        left: 30%;
        border: 16px solid $colour-primary;
        border-right: 16px solid $colour-secondary;
        border-bottom: 16px solid $colour-third;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        display: inline-block;
        animation: loading-spinner 3s forwards;
    }
}

@keyframes loader {
    0% { 
        visibility: visible;
        opacity: 1;}
    50% {
        opacity : 0.7;
    }
    100% {
        visibility: hidden;
        opacity: 0;}
}

@keyframes loading-spinner {
    0% { 
        transform: rotate(0deg);
        opacity: 1;}
    50% {
        opacity : 1;
    }
    100% { 
        transform: rotate(360deg);
        opacity: 0;} 
}

/*RESTAURANT LIKE*/
.restaurant_block .far:hover {
    cursor: pointer;
    background: linear-gradient($colour-primary,$colour-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover + .fas{
    background: linear-gradient($colour-primary,$colour-secondary);
    opacity: 1;
    transform: scale(1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    }
}
.restaurant_menu_id .far:hover {
    cursor: pointer;
    background: linear-gradient($colour-primary,$colour-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover + .fas{
    background: linear-gradient($colour-primary,$colour-secondary);
    opacity: 1;
    transform: scale(1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    }
}
/*BUTTON*/
button:hover {
    box-shadow:  5px 5px 10px darken($colour-shadow, $amount: 20%);
    filter: brightness(110%);
}

/*MENU FASE-IN*/
.menu_bloc {
    animation: menu_appear 0.8s both ;
}
.menu_bloc:nth-child(2) {
    animation-delay: 0.2s;
}
.menu_bloc:nth-child(3) {
    animation-delay: 0.4s;
}
.menu_bloc:nth-child(4) {
    animation-delay: 0.6s;
}
.menu_bloc:nth-child(5) {
    animation-delay: 0.8s;
}
@keyframes menu_appear {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

/*MENU CHECK*/

.menu_bloc:hover .fas {
    transform: rotate(1turn);
    transition: all 500ms ease-in-out;
}

.menu_bloc:hover .menu_bloc__check{
    animation: slide 500ms both;
    transform: scale(1);
    margin-right: 0px;
}

@keyframes slide {
    0% {
        transform: translateX(50px);

    }
    100% {
        transform: translateX(0px);
    }
}