@mixin restaurant_block {
    display: flex;
    flex-direction: column;
    background-color: $colour-white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px $colour-shadow;
    width: 90%;
    max-height: 250px;
    margin: 10px;
    position: relative;
}

@mixin restaurant_img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 20px 20px 0 0px;
    display: flex;
}

@mixin restaurant_figure {
    display: flex;
    width: 100%;
}
@mixin restaurant_figcaption {
    padding: 10px 0px 10px 10px;
    border-radius: 0 0 20px 20px;
    background-color: $colour-white;
    box-shadow: 1px 1px 15px $colour-shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin label_new {
    background-color: $colour-third;
    border-radius: 5px;
    color: green;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.5em;
    padding: 10px;
}

@mixin restaurant_icone {
    position: absolute;
    right: 50px;
}

@mixin restaurant_menu_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@mixin restaurant_menu_i{
    font-size : 0.7em;
}

@mixin restaurant_menu_figcaption {
    background-color: $colour-fourth;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    bottom: 35px;
}
@mixin restaurant_menu_id {
    margin: 0;
    max-height: 250px;
}
@mixin restaurant_menu {
    background-color: $colour-fourth;
    margin: 0px;
}