@mixin restaurant_block {
    display: flex;
    flex-direction: column;
    background-color: $colour-white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px $colour-shadow;
    width: 90%;
    max-height: 250px;
    margin: 10px;
    position: relative;
}

@mixin restaurant_img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 20px 20px 0 0px;
    display: flex;
}

@mixin restaurant_figure {
    display: flex;
    width: 100%;
}
@mixin restaurant_figcaption {
    padding: 10px 100px 10px 10px;
    border-radius: 0 0 20px 20px;
    background-color: $colour-white;
    box-shadow: 1px 1px 15px $colour-shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin label_new {
    background-color: $colour-third;
    border-radius: 5px;
    color: green;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.5em;
    padding: 10px;
}

@mixin restaurant_heart {
    color: transparent;
    position: absolute;
    right: 30px;
}
@mixin restaurant_heart_empty {
    transition: all 200ms linear;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1);
}

@mixin restaurant_heart_full {
    transition: all 300ms ease-in-out;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: bottom;
    transform: scale(0);
}
@mixin restaurant_menu_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@mixin restaurant_menu_i{
    font-size : 0.7em;
}

@mixin restaurant_menu_figcaption {
    background-color: $colour-fourth;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    bottom: 35px;
}
@mixin restaurant_menu_id {
    margin: 0;
    max-height: 250px;
}
@mixin restaurant_menu {
    background-color: $colour-fourth;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

@mixin menu_container {
    margin: 0px 20px 30px 20px;
    width: 90%;
}
@mixin menu_bloc {
    background-color: $colour-white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 5px 5px 10px $colour-shadow;
    margin: 10px 0px 10px 0px;
}

@mixin span_price {
    position: absolute;
    right: 10px;
    top: 30px;
    font-size: 0.5em;
}

@mixin menu_check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    overflow: hidden;
    background-color: $colour-third;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    transition: all 0.5s linear;
    max-width: 0;
    width: 30%;
}
@mixin menu_check_icone {
    font-size: 0.7em;
    color: $colour-white;
    transition: all 0.5s linear;
    display: flex;
}