$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-third: #99E2D0;
$colour-white: #fff;
$colour-fourth: #EBEBEB;
$colour-shadow : lightgrey;
$colour-footer : #2E2D2B;
$colour-localisation : #DCDCDD;


